@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(227, 31, 38, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(227, 31, 38, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(227, 31, 38, 0);
    }
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-pulse-red {
    animation: pulse-red 2s infinite;
}

.animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
}

.animate-glitch:hover {
    animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
}